<div>
    <p align="center">
        <strong>CONDIÇÕES GERAIS</strong>
    </p>
    <p>
        <strong>01 </strong>
        <img
            src="file:///C:\Users\job\AppData\Local\Temp\OICE_8807178B-71ED-48C4-AD86-A1D3C7BB5A13.0\msohtmlclip1\01\clip_image002.jpg"
            width="10"
            height="3"
        />
        <strong>
            NOSSOS PACOTES: Inclui o dia da saída como o 1º dia e o dia da
            chegada como sendo o último dia da viagem. Os dias de permanência
            na casa, ou a duração dos passeios e programações dependem de cada
roteiro. <u>As diárias se iniciam às</u> <u>14:00 horas e</u>            <u>terminam às 12:00 horas</u>, podendo ter alteração conforme
            pacotes contratados.
        </strong>
    </p>
    <p>
        <strong>
            02 - NOSSO PREÇO INCLUI: Transporte em veiculo tipo turismo,
            equipado, banheiro, poltronas reclináveis, geladeira, serviço de
            bordo, acompanhante da empresa Transbaixinho responsável pelo
            cumprimento e organização geral da viagem. Hospedagem Hotel Macaé -
            RJ com quartos coletivos ou exclusivo.
        </strong>
    </p>
    <p>
        <strong>
            Neste pacote está incluído o café da manhã a partir do 2º dia
            02/05/20
        </strong>
        <strong>. Bagagem de no máximo 15 kgs (1 mala) e uma bolsa de</strong>
    </p>
    <p>
        <strong>mão.</strong>
    </p>
</div>
<br clear="all"/>
<p>
    <a name="page2"></a>
</p>
<p>
    <strong>
        Proibido bolsa de comida e bebida dentro do veiculo. Serão obedecidas
        as normas instituídas pelo DECRETO n. 2.521/98, que regulamenta o
        transporte rodoviário interestadual e internacional de passageiros.
    </strong>
</p>
<p>
    <strong>
        OBSERVAÇÃO: Caso o passageiro não dispor de acompanhante (s) conhecido
        para dividir o apartamento, deverá arcar com o ônus de um apartamento
        individual, ou dividir um apartamento com outro(s) passageiro(s) na
        mesma situação em apartamentos duplos, ou triplos quando for o caso.
    </strong>
</p>
<p>
    <strong>03 </strong>
    <img
        src="file:///C:\Users\job\AppData\Local\Temp\OICE_8807178B-71ED-48C4-AD86-A1D3C7BB5A13.0\msohtmlclip1\01\clip_image002.jpg"
        width="10"
        height="3"
    />
    <strong>
        PARA CRIANÇAS: De 0 a 05 anos não pagam desde que acompanhados de no
        mínimo 02 adultos pagantes, viajando no colo dos pais e dormindo na
        cama dos pais. Uma criança cortesia por família, mais crianças serão
        cobrados. A segunda criança ou mais nessa idade será cobrado.
    </strong>
</p>
<p>
    <strong>
        04 - O PREÇO NÃO INCLUI: Excesso de bagagem, refeições extras de
        carácter pessoal, diárias adicionais, telefonemas, frigobar, bebidas
        nas refeições não incluídas no programa, eventuais produtos à venda nos
        apartamentos dos hotéis, quaisquer outras despesas. Taxas em museus,
        casas históricas, palácios, estádios de futebol, parques diversos,
        aluguel de veículos, aluguel de barcos, pontos turísticos onde seja
        cobrado ingresso não incluso no pacote.
    </strong>
</p>
<p>
    <strong>
        05 - RESERVAS: Somente serão confirmadas, mediante a assinatura do
        contrato e pagamento total ou financiamento do programa.
    </strong>
</p>
<p>
    <strong>06 </strong>
    <img
        src="file:///C:\Users\job\AppData\Local\Temp\OICE_8807178B-71ED-48C4-AD86-A1D3C7BB5A13.0\msohtmlclip1\01\clip_image002.jpg"
        width="10"
        height="3"
    />
    <strong> VALORES PACOTE: VALORES PARA QUARTOS COMUM.</strong>
</p>
<p>
    <strong>
        *De 6 a 10 anos o valor é de R$ 320,00 a vista por pessoa. CRIANÇA TEM
        DESCONTO SE ACOMPANHADO DE DOIS ADULTOS PAGANTES. *A cima de 11 anos o
        valor é R$ 455,00 a vista por pessoa quarto triplo. *Quarto duplo R$
        470,00 a vista por pessoa; Pagamento depósitos mensais vencimento da
        última parcela até dia 20/04/2020. No cartão de credito 2x sem juros
        por autorização de debito, com entrada de 30%.
        <u>
            No caso de pagamento em dinheiro, será feito um sinal de R$ 200,00
            por pessoa e o restante mensal
        </u>
        <u>ate o dia 20/04/2020.</u>
        No caso de atraso ou não pagamento caracteriza cancelamento do pacote
        de viagem.
    </strong>
</p>
<p>
    <strong>
        <u>PAGAMENTO DE CARTÃO CONSULTE VALORES, NUMERO PARCELAS E TAXAS.</u>
    </strong>
</p>
<p>
    <strong>
        07 - ALTERAÇÕES: A empresa se reserva o direito de alterar o horário de
        embarque e desembarque, porém sem prejuízo à duração da excursão.
        Também poderá cancelar a excursão no caso da insuficiência de
        passageiros, no mínimo vinte e cinco pessoas, para o início da viagem.
        Ou alterar a hospedagem para mesma categoria de hotel.
    </strong>
</p>
<p>
    <strong>
        08 - DESISTÊNCIA: Será aceita com restituição integral da importância
        paga, se comunicada 60 dias antes da partida. Fora este prazo, a perda
        será: entre 30 e 21 dias de 50% do valor total do pacote, de 20 a 8
        dias 75% e nos últimos 7 dias que antecede 100% do valor do pacote.
        Caso ainda não tenha pago esses % estipulado, fica obrigado a pagar.
    </strong>
</p>
<p>
    <strong>
        <u>
            NÃO DEVOLVEMOS SINAL E NEM REMARCAMOS NOS ÚLTIMOS 10 DIAS QUE
            ANTECEDE A VIAGEM.
        </u>
    </strong>
    <strong>
        OBSERVAÇÃO: Não será efetuada a restituição, nos casos de viagens em
        andamento, interrompidas por quedas de barreiras e pontes, enchentes ou
        qualquer outro tipo de problemas nas estradas sem condições de tráfego,
        imprevisíveis pela empresa de Turismo ou acompanhante responsável pela
        excursão.
    </strong>
</p>
<p>
    <strong>9 </strong>
    <strong>
        - ATRASOS: Para a saída da viagem, haverá uma tolerância de quinze
        minutos de atraso do passageiro, após este prazo, dar-se-á a partida
        para não prejudicar os demais passageiros do grupo e não haverá direito
        a restituições de valores.
    </strong>
</p>
<p>
    <strong>10 </strong>
    <strong>
        - EXTRAVIOS OU PERDAS: Quando ocorrer extravio ou perda de malas com
        etiquetas da Transbaixinho, e comprovada a falha da empresa, será
        providenciado o registro do ocorrido em ocorrência, sendo os custos de
        total responsabilidade da seguradora, que tem o prazo de ate 60 dias
        para reembolso, e o registro deve ser feito na hora da viagem, e o
        passageiro devera providencia os documentos solicitados pela
        seguradora. Isso não se iguala a bolsas de mão, sacolas, pacotes,
        compras etc. Nos casos de esquecimento de bagagens ou outros pertences
        nos hotéis ou restaurantes por parte do passageiro, a empresa fornecerá
        endereços e telefones para a localização dos mesmos, mas tudo será de
        responsabilidade do mesmo.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        OBSERVAÇÃO: Dinheiro e jóias não deverão ser transportados nas malas e
        nem guardados nos apartamentos dos hotéis, não nos responsabilizamos.
    </strong>
    <strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>11 </strong>
    <strong>
        - EMBARQUE/ DESEMBARQUE: Serão observados os locais de desembarque os
        mesmos do embarque, ou seja, locais determinados pela empresa, e pontos
        de táxi que ficarem no trajeto da viagem, sem que alterem o itinerário.
        Com obrigatoriedade de apresentação de documentos originais, crianças
        só é aceito certidão ate 11 anos.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>12 </strong>
    <strong>
        - PREÇOS DOS PACOTES: Os valores fornecidos ou cobrados das viagens
        poderão sofrer reajustes, caso haja aumentos nas tarifas de hotéis,
        combustíveis etc.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>13 </strong>
    <strong>
        <img
            src="file:///C:\Users\job\AppData\Local\Temp\OICE_8807178B-71ED-48C4-AD86-A1D3C7BB5A13.0\msohtmlclip1\01\clip_image002.jpg"
            width="10"
            height="3"
        />
    </strong>
    <strong>
        EVENTUALIDADES: No caso de problemas mecânicos com o veiculo, o tempo
        de viagem poderá aumentar, sendo de responsabilidade da contratada e de
        arrumar outro veiculo para continuidade da viagem. Se for necessário
        ficar mais tempo na cidade por causa de problemas gerados pela
        contratada, o contratante não terá aumento de custo.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>14 </strong>
    <strong>
        <img
            src="file:///C:\Users\job\AppData\Local\Temp\OICE_8807178B-71ED-48C4-AD86-A1D3C7BB5A13.0\msohtmlclip1\01\clip_image002.jpg"
            width="10"
            height="3"
        />
    </strong>
    <strong>
        CANCELAMENTO POR PARTE DA OPERADORA: Caso não seja alcançado o numero
        mínimo de 25 pessoas na venda do pacote, a operadora se resguarda o
        direito de cancelar a viagem; ou oferecer outras opções de datas e
        roteiros, ou devolver a quantia já paga integralmente. No prazo de ate
        7 dias antes da data prevista para inicio da viagem.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>15 </strong>
    <strong>
        <img
            src="file:///C:\Users\job\AppData\Local\Temp\OICE_8807178B-71ED-48C4-AD86-A1D3C7BB5A13.0\msohtmlclip1\01\clip_image002.jpg"
            width="10"
            height="3"
        />
    </strong>
    <strong>
        RESPONSABILIDADE DO CONTRATANTE: Manter todos os objetos do quarto e da
        hospedagem em perfeito estado de conservação, caso ocorra algum
        extravio ou quebra será cobrado na hora do check out.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>
        NOTA: A inscrição na excursão mencionada neste contrato implica no
        cumprimento e ciência das informações e condições estipulada no mesmo.
    </strong>
</p>
